html {
  scroll-behavior: smooth;
  margin-right: 1.6%;
}
.ck-editor__editable {
  min-height: 150px !important;
  max-height: 375px !important;
}

/**************Create Document Form*************************/
.contact-form .form-control {
  border-radius: 1rem;
}
.contact-form form {
  padding: 0 auto;
}

.contact-form h3 {
  color: #0062cc;
}
.contact-form .btnContact {
  width: 100%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #dc3545;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
.btnContactSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #0062cc;
  border: none;
  cursor: pointer;
}
.document {
  /* box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  border-radius: 2px;
  margin: 2.5% -1% 5% 1%;*/
  padding: 40px;
  background: #fff;
  min-height: 600px;
  margin-right: -35%;
  margin-left: 22%;
  margin-top: -75.6%;
}
/***********Create Document Form End*********************/
body {
  font-family: "Roboto", sans-serif;
  background: #8080802b;
  margin: 0 20px 0 20px;
}
.row {
  margin-right: 0;
}
/*NAVIGAION HEADER*/
.navbar {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  border-radius: 2px;
}
#main-header .nav-link {
  color: #444547;
}
#main-header .nav-link:hover {
  color: #202124;
}
.navbar-brand::first-letter {
  color: rgb(86, 252, 141);
  font-size: 35px;
  margin-left: 15%;
}
.icon-search {
  background: #8080801f;
}
.icon-search-box {
  background: #80808000;
}

/*NAV SIDE LEFT BAR*/
.doc-heading {
  color: rgba(0, 0, 0, 0.65);
  font-weight: 700;
  margin-bottom: -6%;
}
#sidebar {
  margin-top: -0.9%;
  line-height: 16px;
  font-size: 13px;
  width: 16%;
  margin-left: 0.23%;
  padding-top: 10px;
  padding-left: 15px;
}
#main-content #sidebar {
  max-height: 531.5px;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  height: -webkit-fill-available;
  height: -moz-fill-available;
  min-height: -webkit-fill-available;
}
span.side-nav-title {
  color: #202124;
}
span.topics {
  color: #202124;
  line-height: 25px;
}

a.side-nav-title {
  color: #202124;
}
.side-nav-title:hover {
  color: #039be5;
}

.nav-link[data-toggle].collapsed:before {
  font-size: 18px;
  content: " \25B8";
  color: #bdc1c6;
  margin-left: -8.5%;
}
.nav-link[data-toggle]:not(.collapsed):before {
  font-size: 18px;
  content: " \25BE";
  color: #bdc1c6;
  margin-left: -8.5%;
}

/*SCROLLBAR*/

/* width */
::-webkit-scrollbar {
  width: 8px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(128, 134, 139, 0.26);
  border-radius: 7px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(91, 98, 104, 0.26);
}
/*NAVBAR RIGHT*/
#navbar-right {
  border-left: 4px solid #5f6368;
  max-height: 200px;
  transform: translate3d(25px, 25px, 0px);
  max-width: 150px;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  font-size: 13px;
  margin-left: -1%;
  border-color: #3ddc84;
  line-height: 10%;
}
/*MAIN*/
article {
  display: block;
}
.main-article {
  box-shadow: 0 1px 20px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  border-radius: 2px;
  padding: 40px;
  margin: 2.5% -5.5% 4% -3.5%;
  background: #fff;
  min-height: 600px;
}

#main-content {
  margin-top: 105px;
}
.banner-message {
  background: #e1f5fe;
  margin: -4% -4% 4% -4%;
  padding: 15px 160px;
  font-size: 14px;
}
/***************/
.d-none {
  display: none;
}
.transition .layer {
  z-index: 9999;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
.transition .layer:nth-child(1) {
  background: #a3cef1;
  animation: 0.3s ease-in-out slideLeft forwards;
}
.transition .layer:nth-child(2) {
  background: #6096ba;
  animation: 0.3s ease-in-out slideLeft forwards;
  animation-delay: 0.3s;
}
.transition .layer:nth-child(3) {
  background: #274c77;
  animation: 0.3s ease-in-out slideLeft forwards;
  animation-delay: 0.6s;
}
@keyframes slideLeft {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
/****************************/
#main-content .section-content {
  margin-left: 19%;
  box-sizing: content-box;
}
fieldset.rating {
  margin-left: 82%;
  margin-top: -4%;
}
.article-meta {
  margin-bottom: 10%;
}
.breadcrumb-list .bread-crumb-item a {
  float: left;
  font-size: 13px;
  text-decoration: none;
  color: #202124;
  white-space: pre;
}
.breadcrumb-list .bread-crumb-item a {
  color: #5f6368;
}
.breadcrumb-list .bread-crumb-item a:hover {
  color: #039be5;
}
h4.page-title {
  color: #5f6368;
  font: 300 34px/40px Roboto, Noto Sans, Noto Sans JP, Noto Sans KR,
    Noto Naskh Arabic, Noto Sans Thai, Noto Sans Hebrew, Noto Sans Bengali,
    sans-serif;
  letter-spacing: -0.01em;
  margin: 40px 0 20px;
}
/*STAR*/
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
fieldset,
label {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 1.5em;
  margin: 10px;
}

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}
.rating .full:hover {
  transform: rotate(-15deg) scale(1.3);
}

.rating > input {
  display: none;
}
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\2605";
}

.rating > .half:before {
  content: "\2605";
  position: absolute;
}

.rating > label {
  color: #5f6368;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label {
  color: rgb(255, 136, 0);
} /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label {
  color: rgb(255, 136, 0);
}

/*FOOTER*/
#main-footer {
  /*  box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15); */
  color: #202124;
  box-shadow: 0px -3px 2px 0 rgba(60, 64, 67, 0.3),
    1px -1px 20px 1px rgba(60, 64, 67, 0.15);
  border-radius: 2px;
  margin-left: 15.5%;
  margin-right: -1.555%;
  margin-bottom: -6%;
}

a.footer-link {
  text-decoration: none;
}

.row img.yash-logo {
  height: 45%;
  width: 35%;
}
.row img.social-icons {
  height: 45%;
  width: 35%;
}
.social-bar {
  width: 43%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.social-icon {
  margin-right: 10px;
  filter: grayscale(35%);
  transition: 0.15s ease-in-out;
}
.social-icon:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}
.social-icon img {
  min-width: 25px;
}
/*MODAL*/
.img-responsive {
  max-width: 50%;
}
.modal-body {
  background: #8080802b;
}
.modal-header,
.modal-footer {
  background: #e1f5fe;
}
/*****/
